img {
    width: 150px;
    height: 200px;

}

table {
    width: 100%;
    border-collapse: collapse;
    background: #FFFFFF;
}


th {
    text-align: left;
    background: #0086BF;
    color: #FFFFFF;
}

caption {
    background: #005eb8;
    color: white;
    font-size: medium;
    font-weight: 600;
    text-transform: uppercase;
}

button {
    border-style: solid;
    border-radius: 12px;
    border-color: #000000;
    background-color: #005eb8;
    border-width: 1px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    
}

button a {
    text-decoration: none;
    color: #FFFFFF;
}

button:hover {
    transform: scale(1.2);
}

th, td, caption {
    padding: 1rem;
}

table, th, td {
    border: 1px solid black;
}

@media (max-width: 650px) {
    th {
        display: none;
    }

    td {
        display: block;
    }

    td:not([data-cell])::before {
        display: block;
        font-weight: 700;
    }

    td[data-cell]::before {
        content: attr(data-cell) ": ";
        display: block;
        font-weight: 700;
    }

}
